<!-- ---
import { type CollectionEntry, getCollection } from 'astro:content';

import BlogLayout from '@/layouts/BlogLayout.astro';
import Hero from '@/components/Hero.astro';
import { render } from 'astro:content';

interface Props {
	entry: CollectionEntry<'blogs'>;
}

// Define the dynamic paths for blog posts
export async function getStaticPaths() {
	const blogs = await getCollection('blogs');
	return blogs.map((entry) => ({
		params: { slug: entry.id },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BlogLayout 
  title={entry.data.title} 
  description={entry.data.description} 
  publishDate={entry.data.publishDate}
>
	<header>
		<a class="back-link" href="/blogs/">← Back to Blogs</a>
		<Hero title={entry.data.title} align="start">
			<p class="publish-date">{entry.data.publishDate.toLocaleDateString()}</p>
		</Hero>
	</header>
	<main>
		{entry.data.img && (
			<img src={entry.data.img} alt={entry.data.img_alt || ''} />
		)}
		<article class="content">
			<Content />
		</article>
	</main>
</BlogLayout>


<style>
	.publish-date {
		color: var(--gray-400);
		font-size: var(--text-md);
	}
</style> -->
